<html><head><title>Aduneo - ClientFedID</title>
<link rel="stylesheet" href="/css/aduneo.css">
<link rel="stylesheet" href="/css/dragWindow.css">
</head>
<body><div style="color: #FFA500; font-family: Tahoma; font-size: 40px; background-color: #004c97; height: 74px;"><a href="https://www.aduneo.com"><img style="width: 294px; height: 64px; vertical-align: middle; margin-left: 8px; margin-top: 5px;" src="/images/aduneo.png"></a><span style="margin-left: 30px; vertical-align: middle;">ClientFedID - Identity Federation Test Client</span>
<div style="margin-top: 20px; margin-left: 15%; width: 70%; font-family: Verdana;">
{{content}}
</div>
</body></html>
