<html><head><title>Aduneo - ClientFedID</title>
<link rel="stylesheet" href="/css/aduneo.css">
</head>
<script>var autoOpenWebconsole = false;</script> <!-- TODO appeler une API pour récupérer le paramètre de configuration -->
<script src="/javascript/common.js"></script>
<body><div style="color: #FFA500; font-family: Tahoma; font-size: 40px; background-color: #004c97; height: 74px;"><a href="https://www.aduneo.com"><img style="width: 294px; height: 64px; vertical-align: middle; margin-left: 8px; margin-top: 5px;" src="/images/aduneo.png"></a><span style="margin-left: 30px; vertical-align: middle;">ClientFedID - Identity Federation Test Client</span>
<a href="/"><img style="height: 36px; float: right; margin-top: 20px; margin-right: 20px" src="/images/home.png"></a>
<span><a class="button" onclick="openConsole(true);" style="float: right;margin-top: 15;margin-right: 10;">Logs</a></span></div>
<div style="margin-top: 20px; margin-left: 50px; font-family: Verdana;">
{{content}}
</div>
</body></html>
